img {
  display: block;
  width: 500px;
  height: auto;
}
.breed-select {
  width: 400px;
  padding: 12px;
  margin: 24px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: #295397;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cat-info {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
  background-color: aliceblue;
  padding: 24px;
}

.box {
  max-width: 700px;
}

h1 {
  color: #295397;
}

p {
  color: #122a50;
}

.position-relative {
  position: relative;
}
.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #295397;
  left: 100%;
  top: 0;
  animation: rotate 1s ease-in infinite;
}
.loader::after {
  width: 20px;
  height: 20px;
  background-color: #122a50;
  animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
}

@keyframes moveY {
  0%,
  100% {
    top: 10%;
  }
  45%,
  55% {
    top: 59%;
  }
  60% {
    top: 40%;
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
  }
  25% {
    transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
  }
  45%,
  55% {
    transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
  }
  60% {
    transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
  }
  75% {
    transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
  }
}
